html {
  height: 100%;
  color: white;
}

a {
  color: white;
}

body {
  background-color: #2c2d31;
  height: 100%;
  margin: 0 auto;
}

.innerDiv {
  background-color: #323338;
  margin: auto;
  width: 90%;
  height: auto;
  min-height: 100vh;
}

.divSearchBar {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divSearchBar input {
  margin-left: 5px;
  margin-right: 5px;
}

.websiteLogo {
  text-align: center;
  margin: 0;
  padding-top: 10px;
}

.websiteLogo img{
  width: 873.75px;
  height: 75.75px;
}

.dGuildButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.dGuildButtons a {
  padding: 5px;
}

.guildButton {
  width: 263.64px;
  height: 100px;
}

.alignToCenter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.backBt {
  position: absolute;
  margin: 3rem 0 0 3rem;
  width: 3rem;
  height: 3rem;
  font-family: cursive;
  font-weight: bold;
  font-size: 24px;
  color: white;
  background-color: rgb(45, 46, 51);
  border-color: rgb(62, 63, 70);
}

.backBt:hover {
  background-color: rgb(40, 41, 46);
}

.backBt:active {
  background-color: rgb(35, 36, 41);
}

.guildTableCustomizations div {
    overflow-x: scroll;
    width: 98%;
}

.guildTableCustomizations table,
td {
  border-collapse: collapse;
  border-radius: 1px;
  border-color: rgb(99, 99, 99);
  border-style: solid;
}

.alignTableToolbar {
  margin: 0 auto;
  width: 98%;
  max-width: 1600px;
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
}

.tableToolbarLeftSection {
  display: flex;
  width: 40%;
  justify-content: left;
}

.tableToolbarCenterSection {
  display: flex;
  width: 20%;
  justify-content: center;
}

.tableToolbarRightSection {
  display: flex;
  width: 40%;
  justify-content: right;
}

.tableMembersCustomization {
  max-width: 1600px;
  width: 98%;
  margin: 0 auto;
}

.tableCompCustomization {
  min-width: 1280px;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.tableHeaders {
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.tableHeadersNonClickable {
  font-weight: bold;
  text-align: center;
}

.tableHeaderName {
    width: 125px;
}

.tableHeaderGP {
    width: 90px;
}

.tableHeaderLogin {
    width: 150px;
}

.tableHeaderNotes {
    width: 275px;
}

.notesInput {
  width: 100%;
  box-sizing: border-box;
  background-color: gray;
}

.textAlignCenter {
  text-align: center;
}

.positiveValue {
  font-weight: bold;
  color: green;
}

.negativeValue {
  font-weight: bold;
  color: red;
}

.notEnoughValue {
  font-weight: bold;
  color: orange;
}

.mediumValue {
  font-weight: bold;
  color: yellow;
}

.twoWeeksOut {
  font-weight: bold;
  color: blue;
}

.clickable{
  cursor: pointer;
}

/* Begin popup CSS */
.darkBox {
  visibility: hidden;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 50%;
  top: 0;
  left: 0;
}

.popup {
  visibility: hidden;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  background-color: #323338;
  transform: translate(-50%, -50%);
  border: black;
  border-style: ridge;
  width: 25%
}

.popupVisible {
  visibility: visible;
}

.closeButton {
  border-color: darkgray;
  background-color: lightgray;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

.closeButton:hover {
  filter: brightness(90%);
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.flexLeft {
  width: 75%;
  display: flex;
  justify-content: start;
  margin: 5%;
}

.profileCardTitle {
  margin-top: auto;
  margin-left: 5px;
  font-size: 20px;
  font-family: sans-serif;
}

.flexRight {
  width: 25%;
  height: 25px;
  display: flex;
  justify-content: end;
  margin: 1%;
}

.detailsDiv {
  margin-left: 5%;
}

#dlResultsList {
  height: 35vh;
  overflow-y: scroll;
  padding-left: 10px;
  word-wrap: normal;
}

#dlResultsList dd {
  padding-top: 5px;
  padding-bottom: 5px;
}

#dlResultsList dd a {
  text-decoration-line: none;
}

/* End popup CSS */